{% extends 'base.html.twig' %}

{% block title %}crudApp - Login{% endblock %}

{% block body %}
    <div class="row align-items-center vh-100">
        {% if app.user %}
            <div class="col-12 p-5 text-center">
                <h1>Already logged in</h1>
                <p>You are logged in as {{ app.user.email }}, <a href="{{ path('app_logout') }}">logout here</a>.</p>
                <a href="/dashboard" class="btn btn-primary"><i class="fa fa-chevron-left"></i> Go back</a>
            </div>
        {% else %}
            <div class="col-4 p-5">
                <h1 class="h3 mb-3 font-weight-normal">Create account</h1>
                <a class="btn btn-primary mt-4" href="/register">
                    Create account
                </a>
            </div>
            <div class="col-8 border-left p-5">
                <form method="post">
                    {% if error %}
                        <div class="alert alert-danger"><i class="fa fa-exclamation-triangle"></i> {{ error.messageKey|trans(error.messageData, 'security') }}</div>
                    {% endif %}
                    <h1 class="h3 mb-3 font-weight-normal">Login</h1>
                    <div class="form-group">
                        <label for="inputEmail">Email address <span style="color:#FF0000;">*</span></label>
                        <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                    </div>
                    <div class="form-group">
                        <label for="inputPassword">Password <span style="color:#FF0000;">*</span></label>
                        <input type="password" name="password" id="inputPassword" class="form-control" required>
                    </div>

                    <input type="hidden" name="_csrf_token"
                        value="{{ csrf_token('authenticate') }}"
                    >

                    <div class="form-group">
                        <button class="btn btn-primary form-control" type="submit">
                            Login
                        </button>
                    </div>
                </form>
            </div>            
        {% endif %}
    </div>
{% endblock %}
