{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

    <div class="row align-items-center vh-100">
        <div class="col-12 p-5">
            <h1>Register</h1>

            {{ form_start(registrationForm) }}
                {{ form_row(registrationForm.username) }}
                {{ form_row(registrationForm.email) }}
                {{ form_row(registrationForm.password) }}

                <div class="form-group">
                    <button class="btn btn-primary form-control">Register</button>
                </div>
            {{ form_end(registrationForm) }}
        </div>
    </div>
{% endblock %}
