{% extends 'base.html.twig' %}

{% block title %}crudApp - Dashboard{% endblock %}

{% block body %}
    <div class="row align-items-center vh-100">
        <div class="col-4 p-5 span2 text-center">
            <p><a class="btn btn-primary mt-4 w-50" href="/logout">Logout</a></p>
            <p><a class="btn btn-danger mt-4 w-50" href="/delete_user/{{ app.user.id }}">Delete Account</a></p>
        </div>
        <div class="col-8 border-left p-5">
            <form method="post">
                <h2 class="mb-5">You are now logged in as {{ app.user.username }}</h2>

                {% if message %}
                    <div class="alert alert-{{ message.type }}">{{ message.message }}</div>
                {% endif %}
                <h3>Change account settings</h3>
                <div class="form-group">
                    <label for="inputUsername">Username <span style="color:#FF0000;">*</span></label>
                    <input type="text" value="{{ app.user.username }}" name="username" id="inputUsername" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputEmail">Email address <span style="color:#FF0000;">*</span></label>
                    <input type="email" value="{{ app.user.email }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputCurrentPassword">Current Password <span style="color:#FF0000;">*</span></label>
                    <input type="password" name="currentPassword" id="inputCurrentPassword" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="inputNewPassword">New Password <span style="color:#FF0000;">*</span></label>
                    <input type="password" name="newPassword" id="inputNewPassword" class="form-control" required>
                </div>
                <div class="form-group">
                    <label for="inputConfirmNewPassword">Repeat New Password <span style="color:#FF0000;">*</span></label>
                    <input type="password" name="confirmNewPassword" id="inputConfirmNewPassword" class="form-control" required>
                </div>
                <div class="form-group">
                    <button class="btn btn-primary form-control" type="submit">
                        Submit
                    </button>
                </div>
            </form>
        </div>
    </div>
{% endblock %}
