{% extends 'base.html.twig' %}

{% block title %}crudApp - Dashboard{% endblock %}

{% block body %}
    <div class="row align-items-center vh-100">
        <div class="col-12 p-5 text-center">
            <h2>Thank you for creating an account.</h2>
            <p>Please <a href="/login">log in here</a></p>
        </div>
    </div>
{% endblock %}
